<!DOCTYPE html>
<html>
  <head>
     <h1> User Registration Form</h1>
  </head>  
  <body>
    <form method="POST" action="/register">	
        <tr>			
            <td>				
                Email Address:			
            </td>			
            <td>				
                <input type='email' name='email'>			
            </td>		
        </tr>
        <tr>
              <td>				
                Password:			
              </td>			
              <td>				
              <input type='password' name='password'>			
              </td>		
        </tr>	
       <button type="submit"> Register </button>
    </form> 
  </body>
</html>